In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import os
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

In [44]:
mypath = "C:\\Users\\Esteban\\Documents\\Estudios\\datajam pasos libres\\csv files\\"

In [45]:
filenames = next(os.walk(mypath), (None, None, []))[2]  # [] if no file
filenames

['anual_growth_gdp_constant_us2010.csv',
 'empleo informal.csv',
 'ganancias promedio por ocupacion.csv',
 'manufactoring employment.csv',
 'modern_slavery.csv',
 'national compliance with labour rights.csv',
 'occupational_injuries.csv',
 'social_protection.csv',
 'unemployment.csv',
 'working_poverty_rate.csv',
 'youth15-24_unemployment.csv']

In [31]:
df_1 = pd.read_csv(mypath + filenames[0], header=0, sep=",", usecols = ["ref_area.label","time","obs_value"])
df_1 = df_1.rename(columns={"obs_value": "gdp_growth","ref_area.label":"country"})
df_2 = pd.read_csv(mypath + filenames[1], header=0, sep=",")#, usecols = ["ref_area.label","time","obs_value"])
df_3 = pd.read_csv(mypath + filenames[2], header=0, sep=",")
df_4 = pd.read_csv(mypath + filenames[3], header=0, sep=",", usecols = ["ref_area.label","time","obs_value"])
df_4 = df_4.rename(columns={"obs_value": "manufactoring_employment","ref_area.label":"country"})

df_6 = pd.read_csv(mypath + filenames[5], header=0, sep=",")
df_7 = pd.read_csv(mypath + filenames[6], header=0, sep=",")
df_8 = pd.read_csv(mypath + filenames[7], header=0, sep=",")
df_9 = pd.read_csv(mypath + filenames[8], header=0, sep=",")
df_10 = pd.read_csv(mypath + filenames[9], header=0, sep=",")
df_11 = pd.read_csv(mypath + filenames[10], header=0, sep=",")

In [84]:
df = pd.merge(df_5, df_1.loc[df_1["time"]==2018], on='country', how='outer')

In [153]:
df_2["Country"].loc[df_2["Year"]==2018]

      Country  Year  Agriculture  Non-agriculture  Total
0     Albania  2012         97.6             40.2   66.6
1     Albania  2013         96.4             33.1   61.0
2     Albania  2014         99.6             41.0   65.6
3     Albania  2015         99.5             38.1   63.4
4     Albania  2016         99.5             36.4   61.6
..        ...   ...          ...              ...    ...
327     Yemen  2014         99.2             68.4   77.4
328    Zambia  2017         87.1             65.4   70.5
329    Zambia  2018         84.9             64.2   69.2
330  Zimbabwe  2011         97.6             62.5   85.6
331  Zimbabwe  2014         97.8             66.0   87.4

[332 rows x 5 columns]

In [154]:
pd.merge(, df_2["Country"].loc[df_2["Year"]==2017], on='country', how='left')

KeyError: 'country'

In [117]:
df_5 = df_5.replace("Bolivia, Plurinational State of", "Bolivia")

,country,Population,Region,"Est. prevalence of population in modern slavery (victims per 1,000 population)",Est. number of people in modern slavery,Factor One Governance Issues,Factor Two Nourishment and Access,Factor Three Inequality,Factor Four Disenfranchised Groups,Factor Five Effects of Conflict,...,NEG Government complicity (1.4.3),NEG State-imposed forced labour (1.8.1),Address risk,%.3,Supply chains,%.4,SUM/104,SUM Neg,TOTAL,Credit rating
24,"Macedonia, the former Yugoslav Republic of","2,079,000",Europe and Central Asia,8.7,"18,000",48.4,17.4,42.5,50.6,27.3,...,0.0,0.0,4.3,61.9,0.0,0.0,17.7,0.0,63.2,BBB

In [57]:
df_5 = pd.read_csv(mypath + filenames[4], header=0, sep=",")
df_5 = df_5.rename(columns={"Country ": "country"})
df_5.columns

Index(['country', 'Population', 'Region',
       'Est. prevalence of population in modern slavery (victims per 1,000 population)',
       'Est. number of people in modern slavery',
       'Factor One Governance Issues ', 'Factor Two Nourishment and Access ',
       'Factor Three Inequality', 'Factor Four Disenfranchised Groups',
       'Factor Five Effects of Conflict',
       'Final overall (normalised, weighted) vulnerability score',
       'Support survivors', '%', 'Criminal justice', '%.1', 'Coordination',
       '%.2', 'NEG Government  complicity (1.4.3)',
       'NEG State-imposed forced labour (1.8.1)', 'Address risk', '%.3',
       'Supply chains', '%.4', 'SUM/104', 'SUM Neg', 'TOTAL', 'Credit rating'],
      dtype='object')

In [21]:
df_2["ref_area.label"].unique()

array(['Angola', 'Albania', 'Argentina', 'Armenia', 'Burundi', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bosnia and Herzegovina', 'Bolivia',
       'Brazil', 'Barbados', 'Brunei Darussalam', 'Botswana', 'Chile',
       "CÃ´te d'Ivoire", 'Cameroon', 'Congo, Democratic Republic of the',
       'Cook Islands', 'Colombia', 'Comoros', 'Cape Verde', 'Costa Rica',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'Fiji',
       'Georgia', 'Ghana', 'Gambia', 'Guatemala', 'Guyana', 'Honduras',
       'Haiti', 'Indonesia', 'India', 'Jordan', 'Kyrgyzstan', 'Cambodia',
       'Kiribati', "Lao People's Democratic Republic", 'Lebanon',
       'Liberia', 'Saint Lucia', 'Sri Lanka', 'Lesotho',
       'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'North Macedonia', 'Mali', 'Myanmar',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Namibia', 'Niger', 'Nicaragua', 'Nepal', 'Pakistan', 'Panama',
       'Peru', 'Paraguay', 'Occupied Palestinian Territory', 'Rwanda',
       'Sudan', 'Senegal', 'El Salvador', 'Serbia', 'Suriname',
       'Eswatini', 'Seychelles', 'Chad', 'Togo', 'Thailand',
       'Timor-Leste', 'Tonga', 'Turkey', 'Tanzania, United Republic of',
       'Uganda', 'Uruguay', 'Viet Nam', 'Vanuatu', 'Samoa', 'Yemen',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
df_tmp.loc[df_tmp["time"]==2018]

,ref_area.label,indicator.label,source.label,time,obs_value
8,Afghanistan,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-1.96
18,Angola,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-5.47
28,Albania,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-1.72
38,United Arab Emirates,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-0.21
48,Argentina,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-3.96
...,...,...,...,...,...
2228,Arab League,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,0.30
2238,Yemen,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-2.96
2248,South Africa,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,-0.52
2258,Zambia,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,0.88
2268,Zimbabwe,SDG indicator 8.2.1 - Annual growth rate of ou...,ILO - ILO Modelled Estimates,2018,2.99